* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    overflow: hidden;
    width: 320px;
    height: 100vh;

}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

header {
    width: 100%;

    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: #1d2134;


}

header h1 {
    margin-top: 25px;
    margin-left: 10px;
}

#content {
    padding-top: 20px;
    background-color: #1b1e37;
    height: 100%;
    width: 100%;
}


/* From Uiverse.io by gharsh11032000 */
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #444c70;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
    inset: 0;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked+.slider {
    background: #00c853;
}

.switch input:focus+.slider {
    box-shadow: 0 0 1px #0974f1;
}

.switch input:checked+.slider:before {
    transform: translateX(1.6em);
}

.cheat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#status-bar {
    font-weight: 600;
}

#status-text {
    color: red;
    transform: color 0.5;
}

#title-bar {
    display: flex;
    direction: row;
    background-color: #1c1f31;
    justify-content: space-between;
    align-items: center;

}

#buttons {
    display: flex;
    gap: 2px;


}

#minimize {
    width: 20px;
    display: block;

    border-radius: 20%;
    background-color: #1b1e37;
    text-align: center;
    transform: background-color 0.3;
}

#minimize:hover {
    cursor: pointer;
    background-color: #494b5f;
}

#exit {
    width: 20px;
    display: block;
    margin-right: 10px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    border-radius: 20%;
    background-color: #1b1e37;
    text-align: center;
    transform: background-color 0.3;
}

#exit:hover {
    cursor: pointer;
    background-color: #494b5f;
}